extends layout

block content
  h1= title
  - var result = results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) earbuds Brand: #{item["earbudsBrand"]}  <br>  earbuds Color: #{item["earbudsColor"]} <br> earbudsCost: #{item["earbudsCost"]} 
  script.
      function buy(inx){
         alert("you purchased item "+(inx+1))
      }