extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let earbudsid = toShow._id
  - let earbudsBrand = toShow.earbudsBrand
  - let earbudsCost = toShow.earbudsCost
  - let earbudsColor = toShow.earbudsColor
  - let actionid = "/resource/earbuds/" + earbudsid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='costumeAttr mr-3') earbuds ID is:
    div #{earbudsid}
   div.row
    div(class='costumeAttr mr-3') earbuds Brand is:
    div #{earbudsBrand}
   div.row
    div(class='costumeAttr mr-3') earbuds Color is:
    div #{earbudsColor}
   div.row
    div(class='costumeAttr mr-3') earbuds Cost is:
    div #{earbudsCost}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the earbuds collection
  window.location.href='/earbuds'
  }
 script.
  function deleteOnid() {
  console.log("starting delete")
  // delete first
  fetch(actionid, {
  method: 'DELETE' // Don't need a body for the delete
  }).then((resp) => {
  return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
  alert("Delete succeded")
  window.location.href='/earbuds'
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
  alert("Delete failed " + error )
  });
  }

